:root {
    --shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(187, 212, 204);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(122, 177, 159);
    width: 100%;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: var(--shadow);
}
main {
    width: 100%;
    max-width: 800px;
    margin: 90px auto 0 auto;
    min-height: 1050px;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}

form {
    width: 80%;
    text-align: center;
    margin: auto;
}

fieldset {
    width: 100%;
    margin: 1em 0 1em 0;
    border: none;
    padding: 0;
    box-shadow: var(--shadow);
}

table {
    border-collapse: collapse;
    margin: 1em auto 2em auto;
    width: 80%;
    box-shadow: var(--shadow);
}

th {
    cursor: pointer;
    width: 50%;
}

.th-unsorted::after {
    content: "\2003\25b2\25bc";
    letter-spacing: -1px;
}

.th-sort-asc-true::after {
    content: "\2003\25b2\2003";
    letter-spacing: -1px;

}

.th-sort-asc-false::after {
    content: "\2003\2003\25bc";
    letter-spacing: -1px;
}

.th-sort-asc-true,
.th-sort-asc-false {
    background-color: rgb(67, 95, 74);
}

td, th {
    padding: .7em;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(148, 161, 154);
}

th, tfoot {
    background-color: rgb(29, 49, 38);
    color: seashell;
}


#search-input {
    margin: 10px;
    border: 1px groove rgb(29, 49, 38);
    padding: 0.7em;
}

h1 {
    font-size: 24px;
    font-family: 'Russo One', sans-serif;
    margin-top: 26px;
}

footer {
    background-color: rgb(122, 177, 159);
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    flex-shrink: 0;
    margin-top: 15px;
    line-height: 80px;
    font-size: 0.8em;
}